<main>
        <div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto"><strong>About</strong></h1>
  </div>
  <div class="text-center"><strong>ながのCAKEは全国発送可能なケーキ屋さんです。</div>
  <div class="text-center">お子様からお年寄りの方までお召し上がりいただけるよう、</div>
  <div class="text-center">様々なバリエーションをご用意しております。</div>
  <div class="text-center">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</div>
  <div class="text-center">ぜひご注文ください。</strong></div>
</div>
      </main>
