
  <thead>
    <h2>ジャンル検索</h2>
    <% @genres.each do |genre| %>
     <%= genre.name %>
    <% end %>
  </thead>
    <tbody>
      <h1>新着商品</h1>
      <div class="item">
      <% @items.each do |item| %>
      <div>
       <p><%= attachment_image_tag item, :image, :fill, 70, 70, format: 'jpeg', fallback: 'no_image.jpg', size: "70x70"%></p>
       <p><%= item.name %></p>
       <p>￥<%= item.price %></p>
       </div>
      <% end %>
      </div>
    </tbody>

